.pg, .openPg, .closePg {
    position: fixed;
    top: 0;
    z-index: 10;
    height: 100%;
}

.pg {
    width: 0;
}

.openPg {
    animation: widenPg;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.closePg {
    animation: shrinkPg;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes widenPg {
    from {
        width: 0;
    } to {
        width: 100%;
    }
}

@keyframes shrinkPg {
    from {
        width: 100%;
    } to {
        width: 0;
    }
}

.hideLinks {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.navLinks {
    height: 100%;
    width: 100vw;
    backdrop-filter: blur(15px);
    background-color: rgba(24, 24, 24, 0.7);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navLinks a {
    color: white;
    text-decoration: none;
    font-size: calc(max(min(64px, 4.2vw), 40px));
}

.openingBtn {
    position: absolute;
    bottom: 15px;
    left: 15px;

    background-color: transparent;
    border: none;
    opacity: .75;
}

.openingBtn:hover, .openingBtn:active {
    opacity: 1;
}

.openingBtn img {
    height: 4.2em;
}

.icon {
    height: .85em;
    margin-right: calc(max(min(50px, 4.19vw), 40px));
}

.navBtn, .openNavBtn, .closeNavBtn {
    background-color: rgb(34, 34, 34);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    margin-top: 20px;
    height: 70px;
    width: 105px;
    padding: 0;

    position: absolute;
    top: 0;
}

.navBtn:hover, .openNavBtn:hover, .closeNavBtn:hover {
    background-color: rgb(61, 61, 61);
}

.navBtn:active, .openNavBtn:active, .closeNavBtn:active {
    background-color: rgb(102, 102, 102);
}

.navBtn img, .openNavBtn img, .closeNavBtn img {
    margin: 15% auto 15% auto;
    height: 60%;
    width: 60%;
}

.navBtn {
    left: -15px;
}

.openNavBtn {
    animation: flipBtn;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.closeNavBtn {
    animation: flipBtnBack;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes flipBtn {
    from {
        left: -15px;
    } to {
        left: calc(100% - 90px);
    }
}

@keyframes flipBtnBack {
    from {
        left: calc(100% - 90px);
    } to {
        left: -15px;
    }
}