/* About */

.aboutSet legend {
    color: rgb(157, 255, 157);
    user-select: none;
    margin-left: 5vw;
    font-size: 100px;
    padding: 0 calc(max(1vw, 10px)) 0 calc(max(1vw, 10px));
}

.aboutSet {
    margin: 35vh calc(max(4vw, 10px)) 40vh calc(max(4vw, 10px));
    border: 1px solid rgb(22, 141, 28);
    border-radius: 30px;
    background-color: black;
    box-shadow: 1px 10px 10px black;
    padding: 0 30px 30px 30px;

    position: relative;
}

.aboutAnchor {
    position: absolute;
    top: calc(min(-30vh, -180px));
}

.aboutP {
    color: white;
    font-size: calc(max(1.5vw, 25px));
    padding: 0 calc(max(2vw, 30px)) 0 calc(max(2vw, 30px));
}

.cmdBtn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 358px) {
    .aboutSet legend {
        margin-left: 0;
    }

    .aboutSet {
        border: 1px solid transparent;
    }

    .aboutSet p {
        font-size: 21.5px;
    }
}

.rect {
    animation-name: rectangle;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
}

@keyframes rectangle {
    0% {
        color: transparent;
    }

    50% {
        color: white;
    }
}

/* Experience */

.experienceContainer {
    /* background-color: rgb(19, 16, 14); */
    background-color: rgb(10, 8, 8);
    box-shadow: 0 300px rgb(10, 8, 8), 0 -100px 100px rgb(10, 8, 8);
}

.experienceP {
    margin-left: 5vw;
    margin-bottom: 50px;

    font-size: 100px;
    color: rgb(0, 255, 242);
    width: min-content;
    user-select: none;

    position: relative;
}

.experienceAnchor {
    position: absolute;
    top: -15vh;
}

.experienceList {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 70px;
}

.experienceItem {
    background-color: rgb(26, 28, 32);
    padding: 50px 70px;
    margin-bottom: 70px;
    border-radius: 60px;

    color: white;
    font-size: calc(max(2vw, 25px));

    box-shadow: 5px 5px 10px black;
}

.experienceItem li {
    margin: 0;
    color: rgb(159, 180, 194); /*rgb(184, 184, 184)*/
}

.itemHeader {
    font-size: calc(max(2.4vw, 45px));
    margin: 0;
}

.itemDate {
    font-size: calc(max(1vw, 20px));
    margin: 0;
    color: rgb(151, 151, 151);
}

@media screen and (max-width: 570px) {
    .experienceP {
        font-size: 17.54vw;
        text-align: center;
    }
}

@media screen and (max-width: 960px) {
    .experienceContent span {
        font-size: calc(max(4.687vw, 30px));
    }

    .experienceContainer {
        width: 576px;
        margin: 0 auto 40vh auto;
    }
}

@media screen and (max-width: 656px) {
    .experienceContainer {
        width: 87.806vw;
        margin: 0 6.097vw 40vh 6.097vw;
    }
}