/* About */

.aboutSet legend {
    color: rgb(157, 255, 157);
    user-select: none;
    margin-left: 5vw;
    font-size: min(22.6vw, 100px);
    padding: 0 calc(max(1vw, 10px)) 0 calc(max(1vw, 10px));
}

.aboutSet {
    margin: 35vh calc(max(4vw, 10px)) 45vh calc(max(4vw, 10px));
    border: 1px solid rgb(22, 141, 28);
    border-radius: 30px;
    background-color: black;
    box-shadow: 1px 10px 10px black;
    padding: 0 30px 30px 30px;

    position: relative;
}

.aboutAnchor {
    position: absolute;
    top: calc(min(-30vh, -180px));
}

.aboutP {
    color: white;
    font-size: calc(max(1.5vw, 25px));
    padding: 0 calc(max(2vw, 30px)) 0 calc(max(2vw, 30px));
}

.cmdBtn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.rect {
    animation-name: rectangle;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
}

@keyframes rectangle {
    0% {
        color: transparent;
    }

    50% {
        color: white;
    }
}

/* Experience */

.experienceContainer {
    background-color: rgb(10, 8, 8);
    box-shadow: 0 100px rgb(10, 8, 8), 0 -100px 70px rgb(10, 8, 8);
    padding-bottom: 35vh;
}

.experienceP {
    margin-left: 5vw;
    margin-bottom: 50px;

    font-size: calc(min(15vw, 100px));
    /* color: rgb(0, 255, 242); */
    user-select: none;

    position: relative;
}

.experienceAnchor {
    position: absolute;
    top: -15vh;
}

.experienceList {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: min(3vw, 70px);
}

.experienceItem {
    background-color: rgb(26, 28, 32);
    padding: min(7vw, 50px) min(10vw, 70px);
    margin-bottom: 70px;
    border-radius: min(8vw, 60px);

    color: white;
    font-size: calc(min(max(2vw, 25px), 4vw));

    box-shadow: 5px 5px 10px black;
}

.experienceItem li {
    margin: 0;
    /* color: rgb(159, 180, 194); */
}

.itemHeader {
    font-size: calc(min(max(2.4vw, 45px), 8vw));
    margin: 0;
}

.itemDate {
    font-size: calc(max(1vw, 25px));
    margin: 0;
    color: rgb(151, 151, 151);
}

@media screen and (max-width: 736px) {
    .experienceItem ul {
        padding: 0 0 0 calc(max(0px, 40px + 100vw - 736px));
        /* max(0, 40 + 424px - 100vw) */
    }
    .itemDate {
        font-size: calc(min(max(2vw, 25px), 4vw));
    }
}