.contact img {
    height: 70px;
}

.contact button {
    background-color: transparent;
    border: none;
}

.email {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    color: gray;
}

.contact fieldset {
    padding: 50px 0;
    margin: 0;
    border: transparent;
    border-top: 2px solid gray;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact legend {
    position: relative;
    color: white;
    font-size: min(15vw, 100px);
    user-select: none;
    padding: 0 calc(max(2vw, 20px)) 0 calc(max(2vw, 20px));
    margin: 0 auto;
}

@media screen and (max-width: 1344px) {
    .contact img {
        height: calc((5.2vw + 70px) / 2);
    }
}