.header {
    width: 100%;
    height: 7vh;
    min-height: 50px;
    background-color: rgba(0, 0, 0, .75);
    backdrop-filter: blur(20px);
    padding: 0 15px 0 15px;

    position: fixed;
    top: 0;
    z-index: 100;
    overflow-x: auto;

    display: flex;
    justify-content: left;
    align-items: center;
}

@keyframes headerClose {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

@keyframes headerOpen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.header a {
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-family: ClassicConsoleNeue;
    margin: 0 15px 0 15px;
}

#containerInitial {
    display: none;
}

#containerOpen {
    animation: headerOpen;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

#containerClosed {
    animation: headerClose;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

.header a:hover {
    color: rgb(80, 167, 109);
}

.header a:active {
    color: rgb(111, 228, 150);
}

.header button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: ClassicConsoleNeue;
    font-size: 16px;
    height: 34px;
    padding: 0 10px 0 10px;
    margin: 0 47px 0 15px;
}

.header button:hover {
    border: 1px solid rgb(80, 167, 109);
    color: rgb(171, 240, 194);
}

.header button:active {
    border: 1px solid rgb(140, 207, 161);
    color: rgb(234, 255, 241);
}

.header div {
    color: white;
    height: 100%;
    width: 200px;
}

@media screen and (max-width: 412px) {
    .header {
        height: 55px;
    }
}