.navContainer {
    position: fixed;
    top: 0;
    z-index: 10;
    height: 100%;
}

.pg, .openPg, .closePg {
    height: 100%;
}

.pg {
    width: 0;
}

.openPg {
    animation: widenPg;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.closePg {
    animation: shrinkPg;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes widenPg {
    from {
        width: 0;
    } to {
        width: 100%;
    }
}

@keyframes shrinkPg {
    from {
        width: 100%;
    } to {
        width: 0;
    }
}

.hideLinks {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.navLinks {
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(15px);
    background-color: rgba(24, 24, 24, 0.7);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navLinks a {
    color: white;
    text-decoration: none;
    font-size: calc(max(min(64px, 4.2vw), 40px));
}

.icon {
    height: .85em;
    margin-right: calc(max(min(50px, 4.19vw), 40px));
}

.navBtn, .openNavBtn, .closeNavBtn {
    background-color: rgb(34, 34, 34);
    border: 1px solid rgb(255, 255, 255);
    border-left: none;
    border-radius: 0 15px 15px 0;
    margin-top: 20px;
    height: 70px;
    width: 90px;

    position: absolute;
    top: 0;
}

.navBtn:hover, .openNavBtn:hover, .closeNavBtn:hover {
    background-color: rgb(61, 61, 61);
}

.navBtn:active, .openNavBtn:active, .closeNavBtn:active {
    background-color: rgb(102, 102, 102);
}

.navBtn img, .openNavBtn img, .closeNavBtn img {
    margin: 15%;
    height: 70%;
    width: 70%;
}

.openNavBtn {
    animation: flipBtn;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.closeNavBtn {
    animation: flipBtnBack;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes flipBtn {
    from {
        transform: rotateY(0deg);
        left: 0;
    } to {
        transform: rotateY(180deg);
        left: calc(100% - 90px);
    }
}

@keyframes flipBtnBack {
    from {
        transform: rotateY(180deg);
        left: calc(100% - 90px);
    } to {
        transform: rotateY(0deg);
        left: 0;
    }
}