.openingVeil {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;

    width: 100%;
    height: 0;
    opacity: 0;

    animation: moi;
    animation-duration: 3.57s;
    animation-fill-mode: forwards;

    z-index: 9001;
}

.opening {
    width: 100%;
    height: 100%;

    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.opening video {
    width: 1239px;
}

@media screen and (max-width: 688px) {
    video {
        width: 180vw;
    }
}

@keyframes moi {
    14% {
        height: 100%;
        opacity: 1;
    }
    86% {
        height: 100%;
        opacity: 1;
    }
}