.projectsAnchor {
    position: absolute;
    top: -10vh;
}

.projectLabel {
    color: rgb(157, 255, 157);
    font-size: min(15vw, 100px);
    margin: 35vh auto 70px auto;
    text-align: center;
    width: fit-content;
    background-color: black;
    padding: 0px 70px 10px 70px;
    border-radius: 40px;
    position: relative;
}

.swipeTip {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 130%);
    color: rgb(119, 119, 119);
}

.projectContainer {
    margin-bottom: 35vh;
}

.slide {
    padding: 30px calc(5% + 70px) 30px 50px;
    width: 60%;
    margin: 0 auto;
    background-color: rgb(4, 5, 4);
    border-radius: 50px;
    border: 1px solid rgb(0, 163, 0);
    position: relative;
}

#mobileSlide {
    padding: 30px 50px;
    width: calc(62.5% + 10px);
}

.slide:hover {
    background-color: rgb(12, 15, 12);
    border: 1px solid rgb(0, 190, 0);
}

.slideTitle {
    color: white;
    font-size: min(8.5vw, 50px);
    width: fit-content;
    margin: 0 0 30px 0;
    text-decoration: none;
}

.slideDesc, .slide ul {
    color: rgb(207, 207, 207);
    font-size: min(4.5vw, 25px);
}

.slide ul {
    list-style: square;
}

.nextBtn, .prevBtn {
    border: none;
    background-color: transparent;
    height: 70px;
    width: 70px;
    opacity: 70%;
}

.nextBtn {
    position: absolute;
    top: 15%;
    right: 5%;
}

.prevBtn {
    position: absolute;
    bottom: 15%;
    right: 5%;
}

.nextBtn:hover, .prevBtn:hover {
    opacity: 100%;
}

.nextBtn:disabled, .prevBtn:disabled {
    opacity: 20%;
}

.nextBtn img, .prevBtn img {
    display: block;
    height: 70%;
    width: 70%;
}

.prevBtn img {
    transform: rotateZ(180deg);
}

@media screen and (max-width: 544px) {
    .slide ul {
        padding: 0 0 0 12.3%;
    }
}

@media screen and (max-width: 736px) {
    .slide {
        padding: 30px 50px;
        padding-right: calc(5% + (9.51vw + 70px) / 2);
    }

    .nextBtn, .prevBtn {
        height: calc((9.51vw + 70px) / 2);
        width: calc((9.51vw + 70px) / 2);
    }
}