.worldContainer {
    position: relative;
    background-color: #111111;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 1px 0 20px black;
}

.sim {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollOpen, .scrollOpenPhysics {
    animation: headerOpen;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    color: rgba(255, 255, 255, .6);
    user-select: none;
}

.scrollOpen, .scrollClosed {
    font-size: min(5vw, 50px);
    margin: 0 auto 0 auto;
}

.scrollOpenPhysics, .scrollClosedPhysics {
    font-size: min(5vw, 30px);
    position: absolute;
    right: 20px;
    bottom: 10px;
    margin: 0;
}

.scrollClosed, .scrollClosedPhysics {
    animation: scrollClose;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    color: rgba(255, 255, 255, .6);
    user-select: none;
}

.toggleDiv, .toggledDiv {
    width: calc(max(20vw, 200px));
    height: calc(max(20vw, 200px));
    transform: rotateX(45deg);

    padding: 0;
    margin: 0;
    border: 2px solid rgb(0, 255, 0);
    border-radius: 30vw;
    position: relative;

    background-color: rgb(0, 92, 0);
    color: rgb(236, 236, 236);
    box-shadow: 0 calc(max(5vw, 50px)) black;

    z-index: -1;
}

.toggleDiv img, .toggledDiv img {
    height: 75%;
    width: 70%;
    margin: 12.5% 15%;
    position: absolute;
    top: 0;
    left: 0;
}

.toggleDiv:hover {
    background-color: rgb(0, 53, 0);
}

.toggledDiv {
    background-color: rgb(0, 53, 0);
    animation: press;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.toggleBtn {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: transparent;
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.btnShadow {
    position: absolute;
    top: 50%;
    height: calc(5vw / sqrt(2));
    width: calc(3px + 20vw);
    background-color: black;
    z-index: -2;
}

#toggledShadow {
    animation: pressShadow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.simText {
    color: white;
    background-color: rgba(0, 0, 0, .8);
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    z-index: 1;
    user-select: none;
}

.redText {
    color: red;
}

.greenText {
    color: green;
}

@keyframes scrollClose {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes press {
    0% {
        margin-top: 0;
        box-shadow: 0 calc(max(5vw, 50px)) black;
    }
    20% {
        margin-top: calc(max(5vw, 50px));
        box-shadow: 0 3vh black;
    }
    99% {
        margin-top: calc(max(5vw, 50px));
        box-shadow: 0 3vh black;
        opacity: 0;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes pressShadow {
    20% {
        height: 0;
        margin-top: calc(7vw / sqrt(2));
    }
    99% {
        height: 0;
        margin-top: calc(7vw / sqrt(2));
        opacity: 0;
    }
    100% {
        height: 0;
        margin-top: calc(7vw / sqrt(2));
        opacity: 0;
        display: none;
    }
}