html,
body,
#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(0, 0, 0);
  margin: 0;

  min-width: 320px;
  min-height: 480px;
}

#root {
  position: relative;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgb(40, 40, 40);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(71, 71, 71);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(102, 102, 102);
}

::-webkit-scrollbar-corner {
  background-color: rgb(14, 14, 14);
}